@{
  Layout = "_Layout";
}

@using Sales.Models;

<h1>
  @Model["vendor"].Name
</h1>

<div class="textContainer">
  @Model["vendor"].Description <br />
  @Model["vendor"].Name receives their deliveries on @Model["vendor"].Date
</div>

<ol>
  @if (@Model["orders"].Count == 0)
  {
    <p>
      @Model["vendor"].Name does not have any orders.
    </p>
  }
  @foreach (Order order in @Model["orders"])
  {
    <li>
      <a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>
        @order.Description
      </a>
    </li>
  }
</ol> <br />

<a class="nav-links" href='/vendors/@Model["vendor"].Id/orders/new'>Add a new order for @Model["vendor"].Name</a><br />

@await Html.PartialAsync("NavHome")