@{
  Layout = "_Layout";
}

<h1> 
  @Model["vendor"].Name
  <br />
  Upcoming Order
</h1>

<p class="form-group textContainer">
  Name for the order: <strong> @Model["order"].Name </strong> <br />
  @Model["order"].Description <br />
  @Model["vendor"].Name will owe: $ @Model["order"].Price <br />
  
  <div class="nav-links">
    Manage orders for @Model["vendor"].Name: <br />
    <a href='/vendors/@Model["vendor"].Id/orders/new'>Add a new order</a><br />
    <a href='/vendors/@Model["vendor"].Id/'>See their other orders</a><br />
  </div>
</p>

@await Html.PartialAsync("NavHome")